.Trainers{
    position: relative;
    top: 1.3rem;
    text-align: center;
    right: 35rem ;
   }
   .Trainers1{
       margin-left: 15rem;
       width: 50px;
       position: relative;
       bottom: 18rem;
       left: 3rem;
   }
   .Trainers1 h4{
       position: relative;
       left: 2rem;
   }
   .Trainers1 h6{
       text-align: justify;
       display: flex;
       justify-content: space-around;
       width: 250px;
       position: relative;
       right: 2rem;
   }
   .Trainers1 p{
    width: 200px;
    position: relative;
    left: 2rem;
   }
  
   .Trainers2{
      position: relative;
      right: 2rem;
      text-align: center;
      bottom: 38.50rem;
   }
   .jeans1{
       position: relative;
       bottom: 57rem;
       text-align: end;
       right: 22rem;
   }
   .jeans1 h4{
       position: relative;
       right: 3rem ;
   }
   .jeans1 h6{
    position: relative;
    right: 2rem ;
}
   .jeans1 img{
       height: 180px;
       width: 170px;
   }
   .jeans1 p{
       position: relative;
       right: 1rem;
   }
   .jeans2{
       position: relative;
       bottom: 73rem;
       text-align: end;
       right: 5rem;
   }
   .jeans2 img{
       height: 180px;
       width: 170px;
   }
   .jeans2 h4{
       position: relative;
       right: 1.8rem;
   }
   .jeans2 h6{
    position: relative;
    right: 1.8rem;
}
   .jeans2 p{
       position: relative;
       right: 1.8rem;
   }
   .jeans3{
       position: relative;
       bottom: 75rem;
       text-align: center;
       right: 35rem;
   }
   .jeans3 img{
       height: 180px;
       width: 170px;
   }
   .jeans4{
       position: relative;
       bottom: 89rem;
       text-align: center;
       right: 19rem;
   }
   .jeans4 img{
       height: 180px;
       width: 170px;
   }
   .jeans5{
   position: relative;
   bottom: 105rem;
   text-align: center;
   right: 1rem;
   }
   .jeans6{
       position: relative;
   bottom: 124rem;
   text-align: end;
   right: 20rem;
   }
   .jeans6 h4{
       position: relative;
       right: 2rem;
   }
   .jeans6 h6{
       position: relative;
       right: 4rem;
   }
   .jeans6 p{
       position: relative;
       right: 2.4rem;
   }
   .jeans7{
       position: relative;
       bottom: 143rem;
       text-align: end;
       right: 3rem;
   }
   .jeans7 img{
    width: 150px;
   }
   .jeans7 h4{
       position: relative;
       right: 0rem;
   }
   .jeans7 h6{
       font-size: 14px;
       position: relative;
       right: 2rem;
   }
   .jeans7 p{
       position: relative;
       right: 1rem;
   }
   
   .footer{
    width: 100%;
    height: 500px;
    background-color: rgb(58, 4, 58);
    position: relative;
    bottom: 135rem;
}
.footer-div{
   
    display: flex;
    justify-content: space-between;
}

.email-id{
  width: 540px;
  height: 60px;
  position: relative;
  bottom: 2rem;
  left: 25rem;
  border: none;
  border-radius: 30px;
  padding-left: 1rem;
 }
.btn{
  width: 120px;
  height: 50px;
  background-color: #eba817;
  border: none;
  border-radius: 30px;
  position: relative;
  bottom: 1.5rem;
  left: 17.4rem;
}
.footer-child-last-div img{
    width: 50px;
    height: 50px;
    border-radius: 200px;
   
}

.footer-child-div h2{
  color: #eba817;
  font-size: 20px;
  position: relative;
  right: 30rem;
  top: 5rem;
}

.footer-child-div a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: gray;
    font-weight: bold;
    position: relative;
    top: 6rem;
    right: 32.30rem;
}
.footer-child-div a:hover{
    color: white;

}

.footer-child-last-div{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5rem;
    right: 7rem;
    color: gray;
    
}
.footer-child-last-div img{
  position: relative;
  right: 1rem;
}
.keep-link{
position: relative;
top: 2rem;
}
.footer-sub-child{
    display: flex;
    margin-bottom: 15px;
    
}
.links{
  position: relative;
  top: 2rem;
}
.links :hover{
  color: aqua;
}
.text-center{
  position: relative;
  top: 6rem;
  color:  #eba817;
}

@media only screen and (max-width:707px) and (min-width:510px)
{
    .main-block{
        display: flex;
        flex-direction: column;
    }
    
      .Trainers{
        position: relative;
        top: 4rem;
        text-align: center;
        right: 17rem ;
        
       }
       .Trainers img{
        height: 110px;
       }
       .Trainers h4{
        font-size: 15px;
       }
       .Trainers h6{
        font-size: 12px;
       }
       .Trainers p{
        font-size: 12px;
       }

       .Trainers1{
        margin-left: 15rem;
        width: 50px;
        position: relative;
        bottom: 7rem;
        left: -5rem;
    }
       .Trainers1 img{  
        height: 110px;
       }
       .Trainers1 h4{
        position: relative;
        left: 1rem;
        font-size: 15px;
    }
    .Trainers1 h6{
        
        position: relative;
        left: 1rem;
        font-size: 15px;
    }
    .Trainers1 p{
     position: relative;
     left: 0rem;
     font-size: 12px;
        }
        .Trainers2{
        position: relative;
        right: -1rem;
        text-align: center;
        bottom: 19rem;
     } 

     .Trainers2 img{  
        height: 110px;
       }
       .Trainers2 h4{
        position: relative;
        left: 1rem;
        font-size: 15px;
    }
    .Trainers2 h6{
        
        position: relative;
        left: 1rem;
        font-size: 11px;
    }
    .Trainers2 p{
     position: relative;
     left: 0rem;
     font-size: 12px;
        }

        .jeans1{
            position: relative;
            bottom: 30rem;
            text-align: end;
            right: 8rem;
        }
        .jeans1 h4{
            position: relative;
            right: 1rem ;
            font-size: 15px;
        }
        .jeans1 h6{
         position: relative;
         right: 10px;
         font-size: 12px;
        }
        .jeans1 img{
            height: 110px;
            width: 80px;
        }
        .jeans1 p{
            position: relative;
            right: 1rem;
            font-size: 10px;
        }    

        .jeans2{
            position: relative;
            bottom: 40rem;
            text-align: end;
            right: 1rem;
        }
        .jeans2 img{
            height: 80px;
            width: 60px;
        }
        .jeans2 h4{
            position: relative;
            right: 2rem;
            font-size: 10px;
        }
        .jeans2 h6{
         position: relative;
         right: -1rem;
         font-size: 10px;
     }
        .jeans2 p{
            position: relative;
            right: 0rem;
            font-size: 10px;
        }

        .jeans3{
            position: relative;
            bottom: 40rem;
            text-align: center;
            right: 18rem;
        }
        .jeans3 img{
            height: 80px;
            width: 70px;
        }
        .jeans3 h4{
            font-size: 13px;
        }
        .jeans3 h6{
            font-size: 11px;
        }
        .jeans3 p{
            font-size: 11px;
        }

        .jeans4{
            position: relative;
            bottom: 49rem;
            text-align: center;
            right: 10rem;
        }
        .jeans4 img{
            height: 80px;
            width: 70px;
        }
        .jeans4 h4{
            font-size: 13px;
        }
        .jeans4 h6{
            font-size: 11px;
        }
        .jeans4 p{
            font-size: 11px;
        }
         .jeans5{
        position: relative;
        bottom: 58rem;
        text-align: center;
        right: 0rem;
        } 
        .jeans5 img{
            width: 70px;
            height: 80px;
        }
        .jeans5 h4{
            font-size: 13px;
        }
        .jeans5 h6{
            font-size: 10px;
        }
        .jeans5 p{
            font-size: 11px;
        }
         .jeans6{
            position: relative;
        bottom: 66rem;
        text-align: end;
        right: 9rem;
        }
        .jeans6 img{
            width: 70px;
            height: 80px;
        }
        .jeans6 h4{
            position: relative;
            right: 1rem;
            font-size: 13px;
        }
        .jeans6 h6{
            position: relative;
            right: -1rem;
            font-size: 8px;
        }
        .jeans6 p{
            position: relative;
            right: 0rem;
            font-size: 11px;
        } 
         .jeans7{
            position: relative;
            bottom: 74rem;
            text-align: end;
            right: 2.4rem;
        }
        .jeans7 img{
            width: 70px;
            height: 80px;
        }
        .jeans7 h4{
            position: relative;
            right: 1rem;
            font-size: 12px;
        }
        .jeans7 h6{
            font-size: 14px;
            position: relative;
            right: 2px;
            font-size: 8px;
        }
        .jeans7 p{
            position: relative;
            right: 0rem;
            font-size: 11px;
        } 
        .footer{
      
            position: relative;
            bottom: 70rem;
        }
          .email-id{
            width: 540px;
            height: 60px;
            position: relative;
            bottom: 2rem;
            left: 9.8rem;
            border: none;
            border-radius: 30px;
            padding-left: 1rem;
           }
          .btn{
            width: 120px;
            height: 50px;
            background-color: #eba817;
            border: none;
            border-radius: 30px;
            position: relative;
            bottom: 1.4rem;
            left: 7rem;
          }
      
          .footer-child-div h2{
            color: #eba817;
            font-size: 14px;
            position: relative;
            right: 17rem;
            top: 5rem;
            display: flex;
            justify-content: space-around;
          }
         
          .footer-child-div a {
              display: block;
              text-align: center;
              text-decoration: none;
              font-size: 13px;
              position: relative;
              top: 6rem;
              right: 18rem;
          }
          .footer-child-last-div img{
            width: 40px;
            height: 40px;
            border-radius: 200px;
           position: relative;
           right: 3rem;
        }
        .footer-sub-child h6{
          
          font-size: 13px;
          position: relative;
           right: 2rem;
      }
      .text-center{
       font-size: 17px;
       padding-top: 2rem;
      }
    }